<h1><%= @distribution.brewery_type %></h1>

<h2>Breweries</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @distribution.breweries.each do |brewery| %>
      <tr>
        <td>brewery.name</td>
        <td><%= link_to "Show", brewery %></td>
      </tr>
    <% end  %>
  </tbody>
</table>